<html>
  <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Phone Verification</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Challenge</h1>
          <form action="/verify" accept-charset="UTF-8" method="post">
            <div>
              <label>Enter the code you were sent:</label>
              <input name="token" id="token"></select>
            </div>
            <button name="button" class=" bg-primary text-white" type="submit">Verify</button>
          </form>
      </div>
    </div>
  </body>
</html>
